[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jinja2 = "*"
mako = "*"
jieba = "*"
mysqlclient = "*"
ipython = "*"
pillow = "*"
faker = "*"
redis = "*"
django-redis = "*"
django = "==2.2.18"
pymongo = "*"
mongoengine = "*"

[requires]
python_version = "3.7"
