{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <link rel="stylesheet" href="{% static "app/index.css" %}">#}
{#</head>#}
{#<body>#}
{#    <ul>#}
{#        {% for i in array %}#}
{#            <li>{{ i }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <a href="{% url "app:index" %}">return</a>#}
{#</body>#}
{#</html>#}
{% extends "app/base.html" %}
{% block title %}
    loop
{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'app/index.css' %}">
{% endblock %}
{% block content %}
    {% load myfilter %}
    <ul>
    {% for i in array %}
        <li>{{ i | do_something:"Test " }}</li>
    {% endfor %}
    </ul>
    <a href="{% url "app:index" %}">return</a>
{% endblock %}